.body {
    background: linear-gradient(#e9daf7, #b630b1);
    margin: 10px 100px 10px 100px;
    font-family: 'Inter', sans-serif;
}

@media screen and (max-width: 320px) {
    .body {
        margin: 10px 10px 0 10px;
    }