.card__button_detail {
    font-size: 18px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(134, 35, 143);
    ;
    border: 0;
    color: white;
    width: 100%;
    cursor: pointer;
}

@media screen and (max-width: 320px) {
    .card__button_detail {
        font-size: 16px;
    }
}


.card__button_detail:hover {
    background-color: rgb(131, 0, 192);
}