.footer__text {
    margin: 0;
    font-weight: 200;
    line-height: 18px;
    font-size: 15px;
    padding-top: 10px;
}

@media screen and (max-width: 680px) {
.footer__text {
    margin: 0;
    padding-top: 10px;
}
}