.header__button_add_newCat {
    font-size: 18px;
    padding: 20px 25px;
    border-radius: 20px;
    background-color: rgb(122, 34, 130);
    border: 0;
    color: white;
    width: 300px;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .header__button_add_newCat {
        margin-top: 16px;
        width: 200px;

    }
}


.header__button_add_newCat:hover {
    background-color: rgb(131, 0, 192);
}